.filters-content{
    display: flex;
    flex-direction:column;
    width: 100%;
}

.filter-item-headered{
    display: flex;
    flex-direction:column;
    margin: 0.5em;
}

.filter-item-headered > span{
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}

.filter-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
